.container {
    width: 70%;
    margin: 150px auto;
    border-collapse: collapse;
}

td {
    padding: 15px;
}

ul li {
    list-style: none;
    padding-bottom: 20px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}